{
  "env": {
    "browser": true,
    "commonjs": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "installedESLint": true,
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    indent: ["error", 2, {"SwitchCase": 0}],
    "no-console": 1,
    "semi": [2, "never"],
  },
  "globals": {
    "Promise": true
  }
}
